parameters:
	level: 2
	paths:
		- ai-command.php
		- src/
	scanDirectories:
		- vendor/felixarntz/ai-services/includes
		- vendor/wp-cli/wp-cli/bundle/rmccue/requests
		- vendor/wp-cli/wp-cli/php
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	reportMaybesInMethodSignatures: false
	strictRules:
		disallowedEmpty: false
		strictArrayFilter: false
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
